.banner-play-button {
    top: -30px;
    left: -5px;
}

.grey-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #cccccc;
    height: 408px;
}

.grey-box-small {
    background: #f9f9f9;
    border: 1px solid #cccccc;
    padding: 33px 65px;
}

.bookmark-head::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -35px;
    background-image: url(../images/bookmark-icon.png);
    width: 14px;
    height: 24px;
}

.vision-sec,
.mission-sec {
    border: 1px solid #cccccc;
    background: #fff;
    position: relative;
    padding: 70px 65px;
    z-index: 1;
}

.mission-sec {
    border: 1px solid #efefef;
    background: #efefef;
}

.vision-img,
.mission-img {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.mission-img {
    height: 350px;
}

.para-point {
    position: relative;
    padding-left: 2rem;
}

.para-point::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    background-image: url(../images/point-icon.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.fee-table1 {
    border-color: #d6d8db;
    margin-bottom: 0;
    color: #5a5a5a;
}

.fee-table1 thead {
    font-family: CircularStd;
    font-size: 15px;
    background: #20397126;
    color: #484848;
}

.fee-table1 thead tr th {
    padding: 0.8rem 10px;
    text-align: left;
}

.fee-table1 tbody {
    font-family: Gotham;
    font-size: 14px;
    background: #fff;
}

.fee-table1 p {
    margin-bottom: 0;
    line-height: 16px;
    text-align: left;
}

.fee-table1 tbody tr td {
    padding: 10px;
}

.fee-table1 thead tr th p {
    text-align: left;
    font-family: inherit;
    font-size: inherit;
}

.accordion {
    margin-bottom: 25px;
}

.banner-play-button {
    top: -40px;
}

.mt-200px {
    margin-top: -280px;
    position: relative;
    z-index: 1;
}

.fs-40x {
    font-size: 40px;
    line-height: 44px;
}

/***** RIGHSIDE RELATED LINKS CSS START ****/

.contact-call {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.link-title {
    background: #2d337b;
    display: block;
    padding: 30px 34px;
    margin-bottom: 0;
}

.custom-list-style2 li {
    font-family: Gotham;
    font-size: 14px;
    list-style: none;
}

.custom-list-style2 li a {
    color: #fff;
    padding: 15px;
    display: block;
    background: #1b1f52;
    border-bottom: 1px solid #343a7b;
    position: relative;
    padding-left: 45px;
    z-index: 1;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.custom-list-style2 li a::before {
    content: '';
    height: 2px;
    width: 5px;
    background: #ddd;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.custom-list-style2 li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #343a7b;
    z-index: -1;
    transition: width .4s;
}

.custom-list-style2 li a:hover::after {
    width: 100%;
}

.custom-list-style2 li a.br-6:hover::after {
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/***** RIGHTSIDE RELATED LINKS CSS END ****/

/**** Governanace page CSS ******/

.accordion-header {
    font-family: CircularStd;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #1b1f52;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:hover {
    background: #20397126;
}

.accordion-button:not(.collapsed):hover {
    background-color: #1b1f52;
}

.accordion-button:focus {
    border-color: rgba(0, 0, 0, .125);
    box-shadow: none;
}

p,
li {
    font-family: Gotham;
    font-size: 14px;
}

/****** Instiution responsibility page css *******/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: CircularStd;
}

.env-thumb-img .cu-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.text360 span {
    color: #fff;
}

.transform-up {
    transform: translate(0%, -140%);
}

.mt--320 {
    margin-top: -320px;
}

@media (min-width:1920px) {
    .banner-h {
        height: 500px !important;
    }
}

@media (min-width:500px) and (max-width:767px) {
    .banner-h {
        height: 500px !important;
    }
}

@media (min-width:801px) and (max-width:991px) {
    .banner-h {
        height: 500px !important;
    }
}

@media (min-width: 1350px) and (max-width: 1399px) {
    .need-help a {
        font-size: 17px;
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .need-help a {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .fee-table1 thead {
        font-size: 14px;
        line-height: 18px;
    }
    .fee-table1 tbody {
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 767px) {
    .grey-box {
        height: 208px;
    }
    .grey-box img {
        max-width: 60%;
    }
    .grey-box-small {
        padding: 30px 50px;
    }
    .vision-sec,
    .mission-sec {
        padding: 40px 25px;
    }
    .fs-40x {
        font-size: 28px;
        line-height: 32px;
    }
}

@media (max-width: 567px) {
    /*.fee-table1 {
        white-space: nowrap;
    }*/
    .fee-table1 p {
        line-height: 14px;
        font-size: 12px;
    }
}