/* BE - Lateral Entry Program CSS */

.course-list {
    column-count: 2;
}

/* End of BE - Lateral Entry Program CSS */

/* Placement Numbers CSS Start */

.placement-figures {
    background: var(--bgcolor-gray);
    padding-top: 30px;
}

.pl-indi-num {
    height: 164px;
}

.pl-indi-num span {
    font-size: 36px;
    font-weight: bold;
    font-family: var(--secondary-font);
    color: var(--text-color-d-gray);
    line-height: 34px;
    display: block;
}

.pl-indi-num span sub {
    position: relative;
    bottom: 0px;
    left: -2px;
    font-size: 18px;
}

.pl-indi-num p {
    color: var(--text-color-dark);
    font-size: 14px;
    line-height: 16px;
}

/* Placement Numbers CSS End */

.mt-290x {
    z-index: unset !important;
    /***** FIX FOR MODAL Z-INDEX ISSUE *****/
}

.p-b-6 {
    padding-bottom: 60px;
}

/* Modal Popup CSS Start */

.keyword-tags .modal-header {
    background: var(--bgcolor-red);
    color: var(--text-color-white);
}

.keyword-tags .btn-danger {
    background-color: var(--bgcolor-red);
    border-color: var(--bgcolor-red);
}

/* Modal Popup CSS End */

/* Top Rankings CSS Start */

.rankingsBlock {
    position: relative;
    z-index: 2;
}

.rankingsBlock .slick-list {
    border-radius: 6px;
}

.rankingsBlock__slider--item::after {
    content: '';
    background: var(--light-purple-opacity-bg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rankingsBlock__slider--item__in {
    padding: 30px;
    position: relative;
    z-index: 1;
    display: block;
}

.rankingHeading {
    margin-bottom: 10px;
}

.rankingHeading__star {
    border-bottom: 1px solid var(--gray-opacity-bg);
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
}

.rankingHeading__star::after {
    content: '';
    background: var(--gray-opacity-bg);
    height: 1px;
    width: 30px;
    bottom: -1px;
    left: 100%;
    position: absolute
}

.rankingHeading h4 {
    font-family: var(--secondary-font);
    font-size: 22px;
    text-transform: uppercase;
    color: var(--text-color-white);
}

.rankingHeading h4 span {
    color: var(--text-color-orange);
}

.rankingData {
    height: 358px;
}

.rankingData__box {
    font-family: var(--secondary-font);
    color: var(--text-color-white);
    text-transform: uppercase;
    min-height: 130px;
    padding: 2px 0
}

.rankingData__box span {
    font-family: var(--secondary-sub-font);
    font-size: 11px;
    display: block
}

.rankingData__box span.font-40 {
    font-family: var(--secondary-font);
    font-size: 60px;
    color: var(--text-color-orange);
    line-height: 54px;
}

.rankingData__box span.font-40 sup {
    top: -19px;
    font-size: 28px;
}

.rankingData__box h3 {
    font-size: 54px;
    color: var(--text-color-orange);
    line-height: 51px;
    margin-bottom: 5px;
}

.rankingData__box h3.font-30 {
    font-size: 24px;
    line-height: 30px;
}

.rankingData__box h3 sup {
    text-transform: none;
    top: -19px;
    font-size: 22px;
}

.rankingData__box h2 {
    font-size: 18px;
    line-height: 22px;
}

.rankingData__box h2 small {
    font-size: 10px;
    display: block;
    font-family: var(--secondary-sub-font);
    line-height: 10px;
    margin-bottom: 3px;
}

.indiaToday-logo {
    width: 70px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.indiaToday-logo img {
    width: 100%;
}

.rankingsBlock__slider .slick-dots {
    height: 28px;
}

.rankingsBlock__slider .slick-dots li {
    margin: 0 20px;
}

.rankingsBlock__slider .slick-dots li:nth-child(2),
.rankingsBlock__slider .slick-dots li:nth-child(4),
.rankingsBlock__slider .slick-dots li:nth-child(7) {
    display: none;
}

.rankingsBlock__slider .slick-dots li img {
    width: 40px;
    filter: grayscale(1);
}

.rankingsBlock__slider .slick-dots li:first-child {
    margin: 0 3px;
}

.rankingsBlock__slider .slick-dots li:first-child img {
    width: 22px;
}

.rankingsBlock__slider .slick-dots li.slick-active img {
    filter: unset;
}

/* Top Rankings CSS End */

/* Download Brochure CSS Start */

.brochureDiv {
    padding: 50px;
    position: relative;
}

.dwnld-btn {
    position: absolute;
    right: 50px;
    top: 60px;
    border-radius: 8px;
    color: var(--text-color-red);
    display: inline-flex;
}

/* Download Brochure CSS End */

/* Alumni & Early Bird Scholarship CSS Start */

.elummni-section {
    background: var(--bgcolor-dark-purple);
    position: relative;
    padding: 80px 0;
}

.elummni-card__name {
    margin-top: 30px;
}

.elummni-card__name span {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    border: 8px solid var(--light-white-opacity-bg);
}

.elummni-card__name span img {
    width: 100%;
}

.elummni-card__name h5 {
    font-size: 18px;
    color: var(--text-color-white);
}

.elummni-card__name p {
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color-white);
    margin-bottom: 0;
}

.elummni-card__content {
    position: relative;
    background: var(--bgcolor-white);
    border-radius: 20px;
    text-align: center;
}

.elummni-card__content:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: var(--bgcolor-white);
    border-width: 10px;
    margin-left: -10px;
}

.elummni-section__slider .slick-dots li.slick-active button:before {
    opacity: .75;
    color: var(--text-color-white);
}

.elummni-section__slider .slick-list {
    padding: 0 !important;
}

.coma-d {
    opacity: 0.1;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.e-listStyle {
    padding: 0;
}

.e-listStyle li {
    list-style-type: none;
    margin-bottom: 15px;
    position: relative;
    padding-left: 40px;
}

.earlybird-section {
    padding: 80px 0;
}

/* Alumni & Early Bird Scholarship CSS End */

/* Research Groups CSS Start */

.researchGroup .card {}

.researchGroup .card ul {
    padding: 0;
    margin: 0;
    padding-left: 18px
}

.researchGroup .card ul li {
    /* font-size: 16px; */
    margin-bottom: 5px;
}

.researchGroup .card ul li:last-child {
    margin-bottom: 0;
}

.researchGroup .card .af-title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 0;
}

/* Research Groups CSS End */

.glance-section.half-height {
    padding-bottom: 0;
}

.glance-section.half-height::before {
    content: '';
    background: var(--bgcolor-white);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    z-index: 1;
}

.feature-slider.custom-mt {
    margin-top: -440px;
}

.pageBanner-inner__content.head-sm.inner-content h4 {
    line-height: 28px;
}

/* EMI SERVICES */

.emi-partners-logos {
    gap: 30px;
}

.emi-partners-logos img {
    width: 150px;
}

/* END EMI SERVICES*/

/* Responsive CSS Start */

/*@media (width: 1024px) {
    .pageBanner-inner__content.head-sm h2 { font-size: 36px; line-height: 36px; }
	
}*/

@media only screen and (max-width: 1919px) {
    .rankingHeading h4 {
        font-size: 20px;
    }
    .rankingData__box h2 small {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1700px) {
    .rankingData {
        height: 340px;
    }
}

@media only screen and (max-width: 1500px) {
    .rankingData {
        height: 315px;
    }
}

@media only screen and (max-width: 1399px) {
    .rankingHeading h4 {
        font-size: 17px;
    }
    .rankingData__box h2 {
        font-size: 13px;
        line-height: 14px;
    }
    .rankingData {
        height: 276px;
    }
    .rankingData {
        height: 267px;
    }
}

@media only screen and (max-width: 1199px) {
    .rankingHeading h4 {
        font-size: 15px;
    }
    .rankingData {
        height: 304px;
    }
    .rankingsBlock__slider--item__in {
        padding: 15px;
    }
    .rankingData {
        height: 334px;
    }
    .indiaToday-logo {
        right: 15px;
        bottom: 15px;
    }
    .rankingData {
        height: 244px;
    }
    .earlybird-section {
        background-position: 75% 0 !important;
    }
    .pageBanner-inner__content.head-sm h2 {
        font-size: 36px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 1024px) {
    .brochureDiv {
        padding: 20px 15px;
        text-align: center;
    }
    .dwnld-btn {
        margin-top: 20px;
        position: unset;
    }
    .be-glance-scholar {
        padding-bottom: 60px;
    }
    .msg-frm p {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .pl-indi-num span {
        font-size: 32px;
    }
    .rankingData__box h3 {
        font-size: 40px;
        line-height: 32px;
    }
    .rankingData__box h2 {
        font-size: 10px;
        line-height: 12px;
    }
    .aboutProgram h2 br {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .pl-indi-num {
        height: 100px;
    }
    .placement-figures h2 {
        margin-bottom: 20px;
    }
    .rankingData {
        max-width: 340px;
    }
    .rankingData {
        height: 280px;
    }
    .elummni-section,
    .earlybird-section {
        padding: 50px 0
    }
    .earlybird-section__content {
        background: var(--light-off-white-opacity-bg);
        padding: 30px;
    }
    .be-glance-scholar {
        padding-bottom: 30px;
    }
    .msg-frm p em {
        display: block;
    }
}

@media only screen and (max-width: 575px) {
    .placement-figures {
        padding-bottom: 30px;
    }
    .rankingData {
        height: 300px;
    }
    .rankingData__box span {
        font-size: 9px;
    }
    .left-box,
    .right-box {
        background-position: center;
    }
}

@media only screen and (max-width: 479px) {
    .course-list {
        column-count: 1;
    }
    .rankingData__box h2 {
        font-size: 12px;
        line-height: 13px;
    }
}

@media only screen and (max-width: 375px) {
    .pl-indi-num p {
        font-size: 12px;
        line-height: 14px;
    }
}